<div class="page-links">
    <h2 class="h3">Getting Started</h2>
    <a href="/downloads/">Download the latest version of Narayana standalone</a>
    <a href="https://www.wildfly.org/downloads/">Or download the latest release of WildFly</a>
    <a href="/documentation/">Read our getting started documentation</a>
    <a href="https://github.com/jbosstm/quickstart">Run our quickstarts</a>
    <a href="/community/#our-team">Meet the team</a>
    <a href="https://github.com/jbosstm/narayana/blob/main/CONTRIBUTING.md">Get involved!</a>

  </div>